.App {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-content: center;
  color: rgb(190, 229, 255);
}

.App-logo {
  height: 40vmin;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: Bottle-spin infinite 30s linear;
  }
}

.spinning {
  animation: Bottle-spin 4 0.25s linear;
}

.still {
  animation: none;
}

.bottle-container {
  width: 75vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;

  .bottle-button {
    background-color: #282c34;
    border: none;
  }

  .header {
    font-size: 3rem;
  }
}

.menu-container {
  display: flex;
  flex-direction: column;
  min-width: 25vw;
  margin: 0 3rem 20rem 3rem;
  justify-content: center;

  .title {
    font-size: 2rem;
    margin: 1.5rem 0;
  }

  .add-player-container {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    justify-content: space-between;

    .add-player-button {
      background-color: white;
      border-radius: 0.3rem;
      justify-content: center;
      align-content: center;
      width: 30%;
    }

    .add-player-input {
      display: flex;
      width: 70%;
    }
  }

  .player {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(190, 229, 255);
    color: #282c34;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.2rem;

    &:hover {
      background-color: rgb(159, 200, 228);
    }

    .player-name {
      display: flex;
      justify-content: flex-start;
    }

    .delete-button {
      display: flex;
      align-content: flex-end;
      background-color: white;
      border-radius: 0.3rem;

      &:hover {
        background-color: rgb(221, 221, 221);
      }
    }

    i {
      color: #282c34;
    }
  }
}

.App-link {
  color: #61dafb;
}

@keyframes Bottle-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
